@import url('https://fonts.googleapis.com/css?family=Montserrat:800');


nav {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background-color: #2EC4B6;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
