<div class="card shadow rounded">
    <div class="card-body">
        <div class="row">
            <a [href]="userUrl">
                <img [src]="avatarUrl">
            </a>
            <div class="col-10 col-sm-10">
                <a [href]="repoUrl">
                    <h5 class="card-title">{{ userName }}/{{ repoName }}</h5>
                </a>
                <p class="card-text" [class.cursor-pointer]="isDescriptionTooLong()" *ngIf="!isDescriptionExpanded"
                   (click)="isDescriptionExpanded = !isDescriptionExpanded">
                    {{ partialDescription }}
                </p>
                <p class="card-text" [class.cursor-pointer]="isDescriptionTooLong()" *ngIf="isDescriptionExpanded"
                   (click)="isDescriptionExpanded = !isDescriptionExpanded">
                    {{ description }}
                </p>
                <span class="icon fas fa-star"></span><span class="text">{{ stargazersCount }}</span>
                <span class="icon fas fa-code-branch"></span><span class="text">{{ forksCount }}</span>
                <a [routerLink]="['/repository', userName, repoName, 'issues']" class="open-issues">
                    <span class="icon">Open issues:</span><span class="text">{{ openIssuesCount }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
