main {
    margin: 0 auto;
}

@media (min-width: 2200px) {
    .col-xxl {
        flex: 0 0 42%;
        max-width: 42%;
    }
}

@media (min-width: 2000px) {
    .col-xxl {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
