img {
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user {
    font-size: 0.7rem;
    max-width: 12%;
}

.user span {
    display: block;
    text-align: center;
}

.date-and-comments {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 0.3rem;
}

.date-and-comments span {
    display: block;
}
