<div class="list-group-item list-group-item-action">
    <div class="row">
        <div class="user col-2">
            <a [href]="userUrl">
                <img [src]="avatarUrl">
                <span>{{ userName }}</span>
            </a>
        </div>
        <div class="mb-1 col-8">
            <a [href]="issueUrl">
                <h5>{{ title }}</h5>
            </a>
        </div>
        <div class="date-and-comments col-2">
            <i class="far fa-comments fa-lg"></i> {{ commentsCount }}
            <span>created at: {{ created }}</span>
        </div>
    </div>
</div>
